**/.pbi/localSettings.json
**/.pbi/cache.abf
**/__pycache__/ 
/.vscode
**/results/dataflows_json/
**/results/datasets_info/
**/results/documentation/
**/results/exported_pbix/
**/results/tenant_metadata/
